body {
    height: 100%;
    width: 100%;
}

.md-button.npt-kpigreen {
    background-color: #1B5E20;
    color: white;
}

.md-button.npt-kpiorange {
    background-color: #E65100;
    color: white;
}

.md-button.npt-kpired {
    background-color: #B71C1C;
    color: white;
}

.md-button.npt-kpigray {
    background-color: gray;
    color: white;
}

md-list.md-default-theme md-list-item > md-icon, md-list md-list-item > md-icon {
    color: rgba(0,0,0,0.54);
}

#description {
    overflow-y: auto;
}

.md-toolbar-tools .smb-title {
    padding-left: 5px;
}

.md-toolbar-tools {
    padding-right: 0;   /* cancel padding on right because of command buttons */
}

.md-toolbar-tools .smb-command-buttons {
    align-content: flex-end;
}

.md-toolbar-tools .md-icon-button {
    color: white;
}

.selected {
    background-color: rgba(158,158,158,0.2);
}

md-input-container {
    margin: 8px 0;
}


form > md-datepicker {
    position: relative;
    left: -16px;
}

form > .md-datepicker-input-container {
    margin-left: 0;
}

form > .md-datepicker-button.md-icon-button {
    margin-right: 0;
}

.sm-addbutton {
    position: fixed; 
    bottom: 10px;
    right: 10px;
    color: white;
}