[submodule "src/Gateway/Microsoft.Maker"]
	path = src/Gateway/Microsoft.Maker
	url = git://github.com/jsiegmund/serial-wiring
[submodule "src/Gateway/Microsoft.RemoteWiring"]
	path = src/Gateway/Microsoft.RemoteWiring
	url = git://github.com/jsiegmund/remote-wiring
[submodule "src/Gateway/Microsoft.RemoteWiring/source/Serial"]
	path = src/Gateway/Microsoft.RemoteWiring/source/Serial
	url = git://github.com/jsiegmund/serial-wiring
[submodule "src/Gateway/remote-wiring"]
	path = src/Gateway/remote-wiring
	url = https://github.com/jsiegmund/remote-wiring.git
