<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="device.StorageConnectionString" value="#{device.StorageConnectionString}#" />
  <add key="iotHub.HostName" value="#{iotHub.HostName}#" />
  <add key="iotHub.ConnectionString" value="#{iotHub.ConnectionString}#" />

  <add key="docdb.EndpointUrl" value="#{docdb.EndpointUrl}#" />
  <add key="docdb.PrimaryAuthorizationKey" value="#{docdb.PrimaryAuthorizationKey}#" />
  <add key="docdb.DatabaseId" value="#{docdb.DatabaseId}#" />
  <add key="docdb.DocumentCollectionId" value="#{docdb.DocumentCollectionId}#" />

  <add key="subscriptionUser" value="#{subscription.User}#"/>
  <add key="subscriptionName" value="#{subscription.Name}#"/>
  <add key="tankName" value="#{tankName}#"/>
  <add key="deviceId" value="#{deviceId}#"/>

  <add key="TelemetryStoreContainerName" value="devicetelemetry" />
  <add key="TelemetryDataPrefix" value="devicetelemetry/" />
  <add key="TelemetrySummaryPrefix" value="devicetelemetry-summary/" />

  <add key="DeviceRulesStoreContainerName" value="devicerules" />
  <add key="DeviceRulesTableName" value="DeviceRulesNormalizedTable" />
  <add key="AsaRefDataRulesBlobName" value="devicerules.json" />
</appSettings>
