<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="device.StorageConnectionString" value="-- configure Azure storage account connection string --" />
  <add key="iotHub.HostName" value="-- configure IoT Hub hostname --" />
  <add key="iotHub.ConnectionString" value="-- configure IoT Hub connection string" />

  <add key="docdb.EndpointUrl" value="-- configure Azure DocumentDB endpoint --" />
  <add key="docdb.PrimaryAuthorizationKey" value="-- configure Azure Document DB authorization key --" />
  <add key="docdb.DatabaseId" value="-- configure Azure Document DB database Id --" />
  <add key="docdb.DocumentCollectionId" value="-- configure Azure Document DB document collection Id --" />

  <add key="subscriptionUser" value="-- set test subscription user --"/>
  <add key="subscriptionName" value="-- set test subscription name --"/>
  <add key="tankName" value="-- set test tank name --"/>
  <add key="deviceId" value="-- set test deviceId --"/>

  <add key="TelemetryStoreContainerName" value="devicetelemetry" />
  <add key="TelemetryDataPrefix" value="devicetelemetry/" />
  <add key="TelemetrySummaryPrefix" value="devicetelemetry-summary/" />

  <add key="DeviceRulesStoreContainerName" value="devicerules" />
  <add key="DeviceRulesTableName" value="DeviceRulesNormalizedTable" />
  <add key="AsaRefDataRulesBlobName" value="devicerules.json" />
</appSettings>