<?xml version="1.0"?>
<appSettings>
  <add key="PreserveLoginUrl" value="true" />
  
  <!-- Use these settings for local development. After publishing to your
    Mobile App, these settings will be overridden by the values specified
    in the portal. -->
  <add key="MS_SigningKey" value="Overridden by portal settings" />
  <add key="MS_NotificationHubName" value="Overridden by portal settings" />
  <add key="EMA_RuntimeUrl" value="Overridden by portal settings" />
  <add key="ida.Tenant" value="Overridden by portal settings" />
  <add key="ida.Audience" value="Overridden by portal settings" />
  <add key="docdb.EndpointUrl" value="Overridden by portal settings" />
  <add key="docdb.PrimaryAuthorizationKey" value="Overridden by portal settings" />
  <add key="docdb.DatabaseId" value="Overridden by portal settings" />
  <add key="docdb.DocumentCollectionId" value="Overridden by portal settings" />
  <add key="iotHub.HostName" value="Overridden by portal settings" />
  <add key="iotHub.ConnectionString" value="Overridden by portal settings" />
  <add key="device.StorageConnectionString" value="Overridden by portal settings" />

  <add key="device.TableName" value="DeviceList" />
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="DeviceRulesStoreContainerName" value="devicerules" />
  <add key="DeviceRulesTableName" value="DeviceRulesNormalizedTable" />
  <add key="ActionMappingStoreContainerName" value="actionmappings" />
  <add key="ActionMappingStoreBlobName" value="mappings.json" />
  <add key="AsaRefDataRulesBlobName" value="devicerules.json" />
  <add key="SolutionName" value="Submerged" />
  <add key="TelemetryStoreContainerName" value="devicetelemetry" />
  <add key="TelemetryDataPrefix" value="devicetelemetry/" />
  <add key="TelemetrySummaryPrefix" value="devicetelemetry-summary/" />
  <add key="AlertsStoreContainerName" value="rulesoutput" />
  <add key="DeviceAlertsDataPrefix" value="" />

  <!--<add key="ida:ClientID" value="ba8da37b-8413-4745-af0e-658fa878668e" />-->
  <!--<add key="ida.FederationMetadataAddress" value="Overridden by portal settings" />
    <add key="ida.FederationRealm" value="Overridden by portal settings" />-->

</appSettings>
