<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables -->
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=repsajneptunestorage;AccountKey=nlm4uVWxqVEP6Tlnb9yBMtwxOFLRQ1HfgcmAcKq32nJsjCsD75Jamy63eahOcr1Y346WmqiRp46VTSJEQLSPmA==;BlobEndpoint=https://repsajneptunestorage.blob.core.windows.net/;TableEndpoint=https://repsajneptunestorage.table.core.windows.net/;QueueEndpoint=https://repsajneptunestorage.queue.core.windows.net/;FileEndpoint=https://repsajneptunestorage.file.core.windows.net/" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=repsajneptunestorage;AccountKey=nlm4uVWxqVEP6Tlnb9yBMtwxOFLRQ1HfgcmAcKq32nJsjCsD75Jamy63eahOcr1Y346WmqiRp46VTSJEQLSPmA==;BlobEndpoint=https://repsajneptunestorage.blob.core.windows.net/;TableEndpoint=https://repsajneptunestorage.table.core.windows.net/;QueueEndpoint=https://repsajneptunestorage.queue.core.windows.net/;FileEndpoint=https://repsajneptunestorage.file.core.windows.net/" />
  </connectionStrings>
    <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac.Integration.WebApi" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20622.1351" newVersion="4.0.20622.1351" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <extensions>
      <!-- In this extension section we are introducing all known service bus extensions. User can remove the ones they don't need. -->
      <behaviorExtensions>
        <add name="connectionStatusBehavior" type="Microsoft.ServiceBus.Configuration.ConnectionStatusElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="transportClientEndpointBehavior" type="Microsoft.ServiceBus.Configuration.TransportClientEndpointBehaviorElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="serviceRegistrySettings" type="Microsoft.ServiceBus.Configuration.ServiceRegistrySettingsElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </behaviorExtensions>
      <bindingElementExtensions>
        <add name="netMessagingTransport" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingTransportExtensionElement, Microsoft.ServiceBus,  Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="tcpRelayTransport" type="Microsoft.ServiceBus.Configuration.TcpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="httpRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="httpsRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpsRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="onewayRelayTransport" type="Microsoft.ServiceBus.Configuration.RelayedOnewayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingElementExtensions>
      <bindingExtensions>
        <add name="basicHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.BasicHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="webHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WebHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="ws2007HttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WS2007HttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netTcpRelayBinding" type="Microsoft.ServiceBus.Configuration.NetTcpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netOnewayRelayBinding" type="Microsoft.ServiceBus.Configuration.NetOnewayRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netEventRelayBinding" type="Microsoft.ServiceBus.Configuration.NetEventRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netMessagingBinding" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingExtensions>
    </extensions>
  </system.serviceModel>
  <appSettings>
    <!-- Service Bus specific app setings for messaging connections -->
    <add key="eventHub.HubName" value="repsaj-neptune-eventhub-out" />
    <add key="eventHub.ConnectionString" value="Endpoint=sb://repsaj-neptune-eventhub.servicebus.windows.net/;SharedAccessKeyName=ReceiveRule;SharedAccessKey=2jPRYOpNz53+YwKxlwJOuwwSvd/jI+fYo8ry9fzlRbQ=" />
    <add key="eventHub.StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=repsajneptunestorage;AccountKey=yiXW2OBxnb0rY3sTKKOpkFA5Q6m4fW9tlS+e3jP06i6b0Yf2X1GdVhRLqthM2wIIvvA2aqucCASRvTjrrfJ76w==;BlobEndpoint=https://repsajneptunestorage.blob.core.windows.net/;TableEndpoint=https://repsajneptunestorage.table.core.windows.net/;QueueEndpoint=https://repsajneptunestorage.queue.core.windows.net/;FileEndpoint=https://repsajneptunestorage.file.core.windows.net/" />

    <add key="RulesEventHub.Name" value="repsaj-neptune-eventhub-ruleout" />
    <add key="RulesEventHub.ConnectionString" value="Endpoint=sb://repsaj-neptune-eventhub.servicebus.windows.net/;SharedAccessKeyName=ReceiveRule;SharedAccessKey=Lb7EBNWgRStOwlJjPvxBnfWB3Qw2p2UuRqgc4mDMNro=" />
    <add key="device.StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=repsajneptunestorage;AccountKey=yiXW2OBxnb0rY3sTKKOpkFA5Q6m4fW9tlS+e3jP06i6b0Yf2X1GdVhRLqthM2wIIvvA2aqucCASRvTjrrfJ76w==;BlobEndpoint=https://repsajneptunestorage.blob.core.windows.net/;TableEndpoint=https://repsajneptunestorage.table.core.windows.net/;QueueEndpoint=https://repsajneptunestorage.queue.core.windows.net/;FileEndpoint=https://repsajneptunestorage.file.core.windows.net/" />

    <!-- IoT hub specific connection parameters -->
    <add key="iotHub.HostName" value="repsaj-neptune-iothub.azure-devices.net" />
    <add key="iotHub.ConnectionString" value="HostName=repsaj-neptune-iothub.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=e6/7b4L6vcCCc0RYQRXUcQbVzuRLfIs9Lsxu0J7M4GE=" />

    <add key="docdb.EndpointUrl" value="https://repsaj-neptune-documentdb.documents.azure.com:443/" />
    <add key="docdb.PrimaryAuthorizationKey" value="nI5TarIcUXn+PMkuBVFAUBDsPGaCZpknU76+BqHC1DGZiDnmtMWFI9h0kG+Ly2JB1jxJoms2eYwDDry9x9BGeQ==" />
    <add key="docdb.DatabaseId" value="repsaj-neptune-documentdb-database" />
    <add key="docdb.DocumentCollectionId" value="repsaj-neptune-documentdb-collection" />

    <!-- When using this setting, be sure to add matching Notification Hubs connection
    string in the connectionStrings section with the name "MS_NotificationHubConnectionString". -->
    <add key="MS_NotificationHubName" value="repsaj-neptune-notifications" />
    <add key="MS_NotificationHubConnectionString" value="Endpoint=sb://repsaj-neptune-notifications.servicebus.windows.net/;SharedAccessKeyName=DefaultFullSharedAccessSignature;SharedAccessKey=DfAuLlKWbLc5W6uVOHmrIRYAbj+Voq4Y4ABxAjt7M8E=" />
  </appSettings>
</configuration>
