<div ng-cloak>
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom md-selected="vm.selectedTabIndex" md-swipe-content="true" md-enable-disconnect="true">
            <md-tab label="Hour">
                <md-datepicker ng-model="vm.pickedDate" md-placeholder="Enter date"></md-datepicker>
                <sm-loading-indicator ng-show="vm.loading" ng-cloak>Please wait a short moment whilst we're loading the latest available telemetry data...</sm-loading-indicator>

                <div ng-repeat="sensor in vm.sensors">
                    <div id="{{sensor.name}}_chart_hour" ng-show="vm.loading == false"></div>
                </div>
            </md-tab>
            <md-tab label="Day">
                <md-datepicker ng-model="vm.pickedDate" md-placeholder="Enter date"></md-datepicker>
                <sm-loading-indicator ng-show="vm.loading" ng-cloak>Please wait a short moment whilst we're loading the latest available telemetry data...</sm-loading-indicator>

                <div ng-repeat="sensor in vm.sensors">
                    <div id="{{sensor.name}}_chart_day" ng-show="vm.loading == false"></div>
                </div>
            </md-tab>
            <md-tab label="Week">
                <md-datepicker ng-model="vm.pickedDate" md-placeholder="Enter date"></md-datepicker>
                <sm-loading-indicator ng-show="vm.loading" ng-cloak>Please wait a short moment whilst we're loading the latest available telemetry data...</sm-loading-indicator>

                <div ng-repeat="sensor in vm.sensors">
                    <div id="{{sensor.name}}_chart_week" ng-show="vm.loading == false"></div>
                </div>
            </md-tab>
            <md-tab label="Month">
                <md-datepicker ng-model="vm.pickedDate" md-placeholder="Enter date"></md-datepicker>
                <sm-loading-indicator ng-show="vm.loading" ng-cloak>Please wait a short moment whilst we're loading the latest available telemetry data...</sm-loading-indicator>

                <div ng-repeat="sensor in vm.sensors">
                    <div id="{{sensor.name}}_chart_month" ng-show="vm.loading == false"></div>
                </div>
            </md-tab>
        </md-tabs>
    </md-content>
</div>