<md-content>
    <div class="md-padding md-body-1">
        Use the below controls to switch on/off your peripherals. You can also switch on/off maintenance mode which also temporarily disables notifications.
    </div>
    <section>
        <md-subheader class="md-primary">Power outlets</md-subheader>
        <md-list>
            <md-list-item class="md-1-line" ng-repeat="relay in vm.relays">
                <p class="md-body-2"><strong>{{relay.name}}</strong></p>
                <md-switch ng-model="relay.state" ng-change="vm.toggle(relay.relayNumber, relay.state)" class="md-secondary"></md-switch>
                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
        </md-list>
    </section>
    <section>
        <md-subheader class="md-primary">Maintenance</md-subheader>
        <md-list>
            <md-list-item class="md-1-line">
                <p class="md-body-2"><strong>Maintenance mode</strong></p>
                <md-switch ng-model="vm.maintenanceMode" class="md-secondary"></md-switch>
            </md-list-item>
        </md-list>
    </section>
</md-content>