<md-tabs md-dynamic-height md-border-bottom md-selected="vm.selectedTabIndex" md-swipe-content="true" md-enable-disconnect="true">
    <md-tab label="Sensors">
        <sm-loading-indicator ng-show="vm.loading" ng-cloak>Please wait a short moment whilst we're loading the latest available telemetry data...</sm-loading-indicator>
        <div ng-cloak layout-margin ng-hide="vm.loading">

            <div layout-margin ng-repeat="sensor in vm.sensors | filter:vm.filterSensors">
                <sm-sensor-generic data-sensor="sensor"/>
            </div>

            <div layout="column" layout-margin layout-fill ng-show="vm.lastUpdated" layout-align="center center">
                <div flex class="md-caption">Temperatures are in Celcius. Last updated: {{vm.lastUpdatedText}} ago</div>
            </div>

        </div>
    </md-tab>

    <md-tab label="Stock">
        <div layout-margin ng-hide="vm.loading">
            <div layout-margin ng-repeat="sensor in vm.sensors | filter:vm.filterStock">
                <sm-sensor-stock-float data-sensor="sensor" />
            </div>
        </div>
        <sm-loading-indicator ng-show="vm.loading" ng-cloak>We're getting information about your configured stock sensors, hold on...</sm-loading-indicator>
    </md-tab>

    <md-tab label="Leaks">
        <div layout-margin ng-hide="vm.loading">
            <div layout-margin ng-repeat="sensor in vm.sensors | filter:vm.filterMoisture">
                <sm-sensor-moisture data-sensor="sensor" />
            </div>
        </div>
        <sm-loading-indicator ng-show="vm.loading" ng-cloak>We're getting information about your configured moisture sensors, hold on...</sm-loading-indicator>
    </md-tab>

    <md-tab label="Modules">
        <div layout-margin ng-hide="vm.loading">
            <md-card layout layout-fill layout-padding ng-repeat="module in vm.modules">
                <div layout="row" layout-fill>
                    <div flex layout="column">
                        <div class="md-title">{{module.name}}</div>
                        <p class="md-body-1">
                            Module Type: {{module.moduleType}}
                        </p>
                    </div>
                    <div flex="40" layout="column" layout-align="center end">
                        <md-button layout-fill class="{{module.cssClass}}" layout-align="center center">{{module.status}}</md-button>
                    </div>
                </div>
            </md-card>
        </div>
        <sm-loading-indicator ng-show="vm.loading" ng-cloak>We're getting information about your configured modules, hold on...</sm-loading-indicator>
    </md-tab>

 </md-tabs>
