<div layout="column" layout-align="center center" flex layout-padding>

    <div class="md-headline">Welcome to submerged!</div>
    <div style="text-align: center">
        Monitor and control your aquarium from anywhere! To use submerged you'll need a registered account, check out the
        <a href="jsiegmund.github.io/submerged/getting-started">getting started</a> guide for more info.
    </div>

    <md-divider></md-divider>

    <div ng-show="vm.loading">
        Logging in, please wait
    </div>

    <div ng-hide="vm.loading">
        <md-button class="md-primary" ng-click="vm.login()">Log in!</md-button>
    </div>

</div>
