<md-tabs flex layout="column" layout-fill md-selected="vm.selectedTabIndex" md-swipe-content="true" md-enable-disconnect="true">
    <!--md-dynamic-height md-border-bottom   -->
    <md-tab flex layout="column" label="Tanks">
        <md-tab-content flex layout-fill>

            <div ng-repeat="tanks in vm.tanks" class="md-body-1">
                <md-card>
                    <span>Tank: {{tank.name}}</span>
                </md-card>
            </div>

            <md-button class="md-fab md-primary" aria-label="New Log" ng-click="vm.newTank()" style="position: fixed; bottom: 10px; right: 10px;">
                <md-icon md-svg-src="icons/ic_add_circle_outline_24px.svg" style="color: white;"></md-icon>
            </md-button>    
                
        </md-tab-content>
    </md-tab>

    <md-tab flex layout="column" label="Devices">
        <md-tab-content flex layout-fill>

            <div ng-repeat="device in vm.devices" class="md-body-1">
                <md-card layout-padding ng-click="vm.openDevice(device)">
                    <span class="md-title">{{device.deviceProperties.deviceID}}</span>
                    <span>
                        Modules: {{device.modules.length}}<br />
                        Sensors Connected: {{device.sensors.length}}<br />
                        Relays Configured: {{device.relays.length}}<br />
                    </span>
                </md-card>
            </div>

            <!-- BUTTON IGNORED FOR THE MOMENT AS SUBMERGED DOES NOT  SUPPORT MULTIPLE DEVICES YET
            <md-button class="md-fab md-primary" aria-label="New Log" ng-click="vm.newDevice()" style="position: fixed; bottom: 10px; right: 10px;">
                <md-icon md-svg-src="icons/ic_comment_24px.svg" style="color: white;"></md-icon>
            </md-button>
            -->

        </md-tab-content>
    </md-tab>

</md-tabs>