<md-button class="md-fab md-primary md-fab-bottom-right" aria-label="Add Tank" ng-click="vm.newTank()" ng-show="vm.selectedTabIndex==0">
    <md-icon md-svg-src="icons/ic_add_24px.svg"></md-icon>
</md-button>

<md-button class="md-fab md-primary md-fab-bottom-right" aria-label="New Device" ng-click="vm.newDevice()" ng-disabled="!vm.newDeviceEnabled" ng-show="vm.selectedTabIndex==1">
    <md-icon md-svg-src="icons/ic_add_24px.svg"></md-icon>
</md-button>

<md-tabs flex layout="column" layout-fill md-selected="vm.selectedTabIndex" md-swipe-content="true" md-enable-disconnect="true">
    <!--md-dynamic-height md-border-bottom   -->
    <md-tab flex layout="column" label="Tanks">
        <md-tab-content flex layout-fill>

            <md-list>
                <md-list-item ng-repeat="tank in vm.tanks" ng-click="vm.openTank(tank)" class="md-3-line">
                    <div layout="column" class="md-list-item-text">
                        <h3>{{tank.displayName}}</h3>
                        <h4>{{tank.description}}</h4>
                    </div>
                </md-list-item>
            </md-list>

        </md-tab-content>
    </md-tab>

    <md-tab flex layout="column" label="Devices">
        <md-tab-content flex layout-fill>

            <md-list>
                <md-list-item ng-repeat="device in vm.devices" class="md-2-line" 
                              ng-class="device.selected ? 'selected' : false" ng-click="vm.deviceClicked(device)" on-long-press="vm.toggleDeviceSelected(device)">
                    <div layout="column" class="md-list-item-text">
                        <h2>{{device.deviceProperties.deviceID}}</h2>
                        <span class="md-body-1">
                            Modules: {{device.modules.length}}<br />
                            Sensors Connected: {{device.sensors.length}}<br />
                            Relays Configured: {{device.relays.length}}<br />
                        </span>
                    </div>
                </md-list-item>
            </md-list>

        </md-tab-content>
    </md-tab>

</md-tabs>