<md-content flex layout-fill style="height: 100%;">

    <div ng-show="vm.loading">
        <md-card layout="column" layout-fill layout-padding layout-margin layout-align="center center">
            <h4>Loading data</h4>
            <p>Please wait a short moment whilst we're getting your settings from the cloud...</p>
            <div layout="row" layout-sm="column" layout-align="space-around">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
        </md-card>
    </div>

    <div flex layout="row" layout-fill style="height: 100%;">
       <md-list flex class="md-dense">
           <md-list-item ng-repeat="log in vm.logs" class="md-2-line" ng-class="log.selected ? 'selected' : false"
                         ng-click="vm.logClicked(log)" on-long-press="vm.toggleLogSelected(log)" longPressDuration="300">
                   <md-icon md-svg-src="{{vm.getLogIcon(log.logType)}}" class="md-icon md-24"></md-icon>
                   <div class="md-list-item-text" layout="column">
                       <h3>{{log.title}}</h3>
                       <h4>Timestamp: {{log.timeCreated.toLocaleString();}}</h4>
                   </div>
               <md-divider></md-divider>
           </md-list-item>
       </md-list>
    </div>

    <md-button class="md-fab md-primary" aria-label="New Log" ng-click="vm.gotoNew()" style="position: fixed; bottom: 10px; right: 10px;">
        <md-icon md-svg-src="icons/ic_comment_24px.svg" style="color: white;"></md-icon>
    </md-button>

</md-content>