<md-content layout="column" layout-fill layout-padding>

    <form name="newLogForm" novalidate ng-submit="newLogForm.$valid && vm.saveNew()">

        <!-- Title -->
        <md-input-container flex="none">
            <label>Title</label>
            <input type="text" ng-model="vm.newLog.title" class="md-display-1" required  />
        </md-input-container>

        <!-- LogType -->
        <md-input-container flex="none" style="width: 100%;">
            <label>Type</label>
            <md-select ng-model="vm.newLog.logType" required >
                <md-option ng-repeat="logType in vm.logTypes" value="{{logType.value}}">
                    {{logType.display}}
                </md-option>
            </md-select>
        </md-input-container>

        <!-- Description -->
        <div id="description" layout="column" flex ng-cloak>
            <md-input-container flex>
                <label>Description</label>
                <textarea ng-model="vm.newLog.description" required />
            </md-input-container>
        </div>

        <!-- Action buttons -->
        <div layout="row" layout-padding layout-align="end center" flex="none">
            <md-button ng-click="vm.cancelNew()" class="md-raised md-primary">CANCEL</md-button>
            <md-button type="submit" class="md-raised md-primary">SAVE</md-button>
        </div>

    </form>
</md-content>
